<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                                     ~{:: title},
                                                                    'header',
                                                                    'footer',
                                                                     ~{:: #css-resources},
                                                                     ~{:: #js-resources},
                                                                     ~{:: #main-content}
                                                                    )}">
<head>

    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/shop/css/custom.css}">
    </th:block>
</head>
<body>
<main class="main" id="main-content">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="order-summary">
                    <h3>Đơn hàng</h3>
                    <div class="collapse show" id="order-cart-section">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Ảnh sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Size</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Tổng tiền</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="item : ${#session.getAttribute('CART_ITEMS')}">
                                    <tr>
                                        <td class="small-image"><img th:src="@{${item.image}}"   ></td>
                                        <td th:text="${item.name}"></td>
                                        <td th:text="${item.size}"></td>
                                        <td th:text="${item.qty}"></td>
                                        <td th:text="${item.price}"></td>
                                        <td th:text="${item.price * item.qty}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>



                            <div class="coupon price-include">
                                <div class="text">Tạm tính</div>
                                <input class="form-control text-price-input" type="text" th:value="${#session.getAttribute('TOTAL')}" readonly/>
                            </div>

                            <div class="coupon price-include">
                                <div class="text">Phí Ship</div>
                                <div  class=" text form-control text-price-input">30.000</div>
                            </div>

                            <div class="coupon price-include">
                                <div class="text">Tổng thanh toán</div>
                                <input class="form-control text-price-input" type="text" th:value="${#session.getAttribute('TOTAL')}+ 30000" readonly/>
                            </div>

                        <a th:href="@{/cart-item}">
                            <button class="btn btn-primary">Quay lại</button>
                        </a>

                        <button type="button" class="btn btn-primary confirm-btn red-btn" id="btn-buy-now" >ĐẶT HÀNG</button>

                    </div><!-- End #order-cart-section -->
                </div><!-- End .order-summary -->
            </div><!-- End .col-lg-4 -->



            <div class="col-lg-6 order-lg-first">
                <div class="checkout-payment">
                    <h2 class="step-title">Thông tin nhận hàng</h2>
                    <div id="new-checkout-address" class="show">
                        <form action="#">
                            <div class="form-group required-field">
                                <label>Tên người nhận </label>
                                <input type="text" class="form-control" th:value="${user_fullname}" name="receiver_name" id="receiver_name" required>
                                <div class="invalid-feedback"></div>
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">
                                <label>Số điện thoại </label>
                                <input type="text" class="form-control" th:value="${user_phone}" name="receiver_phone" id="receiver_phone">
                                <div class="invalid-feedback"></div>
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">
                                <label>Địa chỉ nhận hàng</label>
                                <textarea type="text" class="form-control" th:text="${user_address}" name="receiver_address" id="receiver_address" required></textarea>
                                <div class="invalid-feedback"></div>
                            </div><!-- End .form-group -->


                        </form>
                    </div><!-- End #new-checkout-address -->
                </div><!-- End .checkout-payment -->
            </div><!-- End .col-lg-8 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-6"></div><!-- margin -->
    <!-- Modals-->
</main><!-- End .main -->
<!--<th:block id="js-resources">-->
<!--    <script th:src="@{/shop/js/size-choose.js}"></script>-->
<!--    <script th:inline="javascript">-->
<!--        let promotionPrice = 0;-->
<!--        let price;-->
<!--        let totalPrice;-->

<!--        if ([[${product.couponCode}]] != null && [[${product.couponCode}]] != "") {-->
<!--            totalPrice = [[${product.promotionPrice}]];-->
<!--            promotionValue = price - totalPrice;-->
<!--        }-->
<!--        $('#in-total-price').val(totalPrice);-->
<!--        $('#in-promotion-value').val(promotionValue);-->


<!--        let sizeVn = [[${sizeVn}]];-->

<!--        let sizeUs = [[${sizeUs}]];-->

<!--        let sizeCm = [[${sizeCm}]];-->

<!--        $(function () {-->
<!--            formatMoney();-->
<!--            render();-->
<!--            activeSize();-->
<!--            sizeGuideRender();-->
<!--        });-->

<!--        function render() {-->
<!--            for (let i = 0; i < sizeVn.length; i++) {-->
<!--                let sizeChoose = `-->
<!--            <div class="item" data-size="${sizeUs[i]}US | ${sizeVn[i]}VN | ${sizeCm[i]}CM" data-id="${sizeVn[i]}">-->
<!--                ${sizeVn[i]}-->
<!--            </div>-->
<!--            `;-->

<!--                $('.size .select-filter').append(sizeChoose);-->
<!--            }-->
<!--        }-->

<!--        function sizeGuideRender() {-->
<!--            let tr = '';-->
<!--            for (let i = 0; i < sizeVn.length; i++) {-->
<!--                tr += `-->
<!--            <tr>-->
<!--              <td>${sizeVn[i]}</td>-->
<!--              <td>${sizeUs[i]}</td>-->
<!--              <td>${sizeCm[i]}</td>-->
<!--            </tr>-->
<!--            `;-->
<!--            }-->
<!--            $('.side-guide-table tbody').html(tr);-->
<!--        }-->

<!--        function activeSize() {-->
<!--            let availableSizes = [[${availableSizes}]]-->

<!--            for (let i = 0; i < sizeVn.length; i++) {-->
<!--                if (sizeVn[i] === [[${size}]]) {-->
<!--                    $('.size-details').text(sizeUs[i] + "US | " + sizeVn[i] + "VN | " + sizeCm[i] + "CM")-->
<!--                    break;-->
<!--                }-->
<!--            }-->

<!--            $('.size .item').addClass('cross')-->
<!--            if (![[${notFoundSize}]]) {-->
<!--                $(`.item[data-size='${$('.size-details').text()}']`).addClass('size-choose').removeClass('cross');-->
<!--            }-->

<!--            for (let i = 0; i < availableSizes.length; i++) {-->
<!--                $(`.item[data-id='${availableSizes[i]}']`).removeClass('cross');-->
<!--            }-->
<!--        }-->
<!--             $('#btn-buy-now').click(function() {-->

<!--                 let receiverName = $("#receiver_name").val();-->
<!--                 let receiverPhone = $("#receiver_phone").val();-->
<!--               let receiverAddress = $("#receiver_address").val();-->
<!--                let isValid = true;-->
<!--                if (receiverName.length === 0) {-->
<!--                 fullNameInvalid = $('#receiver_name').next();-->
<!--                    fullNameInvalid.css('display', 'block');-->
<!--                  fullNameInvalid.html('Vui lòng nhập họ tên người nhận hàng');-->
<!--                    isValid = false;-->
<!--                         }-->
<!--                           if (receiverPhone.length === 0) {-->
<!--                    phoneInvalid = $('#receiver_phone').next();-->
<!--                   phoneInvalid.css('display', 'block');-->
<!--                 phoneInvalid.html('Vui lòng nhập số điện thoại người nhận hàng');-->
<!--                   isValid = false;-->
<!--                }-->
<!--               let phoneFormat = new RegExp(/((09|03|07|08|05)+([0-9]{8})\b)/g);-->
<!--             if (!phoneFormat.test(receiverPhone)) {-->
<!--                 phoneInvalid = $('#in-user-phone').next();-->
<!--                 phoneInvalid.css('display', 'block');-->
<!--                  phoneInvalid.html('Số điện thoại không hợp lệ');-->
<!--                 isValid = false;-->
<!--               }-->
<!--               if (receiverAddress.length === 0) {-->
<!--                    addressInvalid = $('#receiver_address').next();-->
<!--                    addressInvalid.css('display', 'block');-->
<!--                    addressInvalid.html('Vui lòng nhập địa chỉ nhận hàng');-->
<!--                   isValid = false;-->
<!--               }          let size = $('.size-choose').data("id");-->
<!--              if (size == null || size === "") {-->
<!--                 $('.not-found-size').show();-->
<!--                  isValid = false;-->
<!--              }-->

<!--                //Lấy danh sách mặt hàng từ session-->
<!--                let cartItems = JSON.parse(sessionStorage.getItem("CART_ITEMS"));-->

<!--                // Tạo mảng các đối tượng yêu cầu đặt hàng-->
<!--                let products = [];-->
<!--                for (let i = 0; i < cartItems.length; i++) {-->
<!--                    let product = {-->
<!--                        product_id: cartItems[i].productId,-->
<!--                        size: cartItems[i].size,-->
<!--                        receiver_name: "",-->
<!--                        receiver_phone: "",-->
<!--                        receiver_address: "",-->
<!--                        total_price: cartItems[i].price + 30000,-->
<!--                        product_price: cartItems[i].price-->
<!--                    };-->
<!--                products.push(product);-->
<!--                }-->


<!--                    let myJSON = JSON.stringify(products);-->
<!--                    $.ajax({-->
<!--                        url: '/api/orderscart',-->
<!--                        type: 'POST',-->
<!--                        data: myJSON,-->
<!--                        contentType: "application/json; charset=utf-8",-->
<!--                        success: function(data) {-->
<!--                            toastr.success("Đặt hàng thành công");-->
<!--                            setTimeout(function() {-->
<!--                                location.href = "/tai-khoan/lich-su-giao-dich/"+data;-->
<!--                            }, 1000)-->
<!--                        },-->
<!--                        error: function(data) {-->
<!--                            toastr.warning(data.responseJSON.message);-->
<!--                        },-->
<!--                    });-->


<!--     })-->

<!--        </script>-->
<!--    </th:block>-->
</body>
</html>